<!DOCTYPE html>
<html lang="en">
<head>
  <title>Subway Image Classifier</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
         <form class = "row" action = "http://localhost:5000/login" method = "post" 
            enctype = "multipart/form-data">
            <div class="row">
               <div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">
    
                   <div class="div-to-align">

            <input class = "form-control" type = "file" name = "img" id="img" />
            <input class="btn btn-primary mt-3" type= "submit" value="Predict Image">
            </div></div></div>
      </form>
</div>
</html>